@import "tailwindcss";

.grid-lines {
    background-image:
        repeating-linear-gradient(to right, #06060666 0px, #06060666 2px, transparent 2px, transparent 90px),
        repeating-linear-gradient(to bottom, #06060666 0px, #06060666 2px, transparent 2px, transparent 90px);
    background-size: 90px 90px;
}


.body-transition{
  opacity: 0.1;
  background-color: #000;
  transition: all 0.1s ease;
}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}